[Service]
ExecStart=/usr/bin/node /home/veres-one/veres-one/veres.one.js
WorkingDirectory=/home/veres-one
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=veres-one
User=veres-one
Group=veres-one
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
