<div layout="row">
<div style="padding: 0px 10%;">

  <div id="tos-toc">
    <p>...</p>

    <p>For further information and questions, you may use the following email
    to communicate with the company that operates the Service:
    <a href="mailto:contact@veres.one">contact@veres.one</a>.</p>
  </div>

  <div id="tos-overview">

<h2>Service Overview</h2>

  <p>...</p>

<h3>Summary of Terms</h3>

  <ul>
    <li>...</li>
  </ul>

<h3>Definitions</h3>

  <dl>
    <dt>...</dt>
    <dd>...</dd>
  </dl>

<h3>Services Provided</h3>
  <dl>
    <dt>...</dt>
    <dd>...</dd>
  </dl>

<h3>...</h3>

  <p>...</p>

  </div>

</div>
</div>

<!-- ----------------- -->

<div layout="row">
<div style="padding: 0px 10%;">

<h2>Privacy Policy</h2>

<p>...</p>

</div>
</div>
