#!/usr/bin/env bash

export VPP_PRODUCT="Veres One Testnet"
export VPP_USER=veres

export AWS_ACCESS_KEY_ID=
export AWS_SECRET_ACCESS_KEY=

# These are credentials associated with Azure Service Principal
# Azure appId
export AZURE_CLIENT_ID=
# Azure password
export AZURE_CLIENT_SECRET=
